<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HangMan</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header">
        <h1>HangMan</h1>
    </div>
        <!-- Ajout des boutons de difficulté -->
        <div class="difficulty-buttons">
            <a href="/?difficulty=facile" class='difficulty-btn {{if eq .Difficulty "facile"}}active{{end}}'>Facile</a>
            <a href="/?difficulty=moyen" class='difficulty-btn {{if eq .Difficulty "moyen"}}active{{end}}'>Moyen</a>
            <a href="/?difficulty=difficile" class='difficulty-btn {{if eq .Difficulty "difficile"}}active{{end}}'>Difficile</a>
        </div>
    </header>
    <div class="game-wrapper">
    <div class="game-container">
        <div>Points de vie : {{.RemainingTries}}</div>
        <div class="difficulty-indicator">Niveau : {{.Difficulty}}</div>
        <div class="revealed-letter">
            Lettre révélée au début : {{.RevealedLetter}}
        </div>
        <div class="masked-word">{{.Motsmasque}}</div>
        
        {{if eq .GameStatus "en_cours"}}
        <form class="guess-form" action="/guess" method="POST">
            <input type="text" name="letter" maxlength="1" required>
            <button type="submit">Deviner</button>
        </form>
        {{if .WrongLetters}}
        <div class="wrong-letters">
            Mauvaises lettres : {{range .WrongLetters}}{{.}} {{end}}
        </div>
        {{end}}
        
    </div>
    <div class="hangman-image-container">
        <img src={{ .State }} alt="Hangman image">
    </div>
</div>
    <!-- Pop-up de victoire -->
    <div id="victoryPopup" class="popup victory">
        <h2>BRAVO !</h2>
        <p>Vous avez deviné le mot !</p>
        <button onclick="closePopup('victory')">Nouvelle partie</button>
    </div>

    <!-- Pop-up de défaite -->
    <div id="defeatPopup" class="popup defeat">
        <h2>Perdu !</h2>
        <p>Le mot était : {{.Mots}}</p>
        <button onclick="closePopup('defeat')">Nouvelle partie</button>
    </div>

    <!-- Overlay -->
    <div id="overlay" class="overlay"></div>

    <footer>
        <div class="footer">
        <p>&copy; 2024 hangMan. Tous droits réservés.</p>
        <p>by. Damien, Eva, Guilhem et Lois</p>
        </div>
    </footer>

    {{end}}

    <script> /*
        // Débogage du statut du jeu
        console.log('Game Status:', '{{.GameStatus}}');

        const a = document.getElementById('overlay');

        function displayResult(win) {
            if(win) {
                console.log('Victoire détectée')
                document.addEventListener('DOMContentLoaded', function() {
                    document.getElementById('victoryPopup').style.display = 'block';
                    a.style.display = 'block';
                });
            }
            else {
                console.log('Défaite détectée');
                document.addEventListener('DOMContentLoaded', function() {
                    document.getElementById('defeatPopup').style.display = 'block';
                    a.style.display = 'block';
                });
            }
        }

        // Vérification de la victoire
        {{ if eq .GameStatus "gagne" }}
            displayResult(true)
            
            console.log('Victoire détectée');
            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('victoryPopup').style.display = 'block';
                a.style.display = 'block';
            });
            
        {{end}}
    
        // Vérification de la défaite
        {{if eq .GameStatus "perdu"}}
            console.log('perdu');
            displayResult(false)
            console.log('Défaite détectée');
            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('defeatPopup').style.display = 'block';
                document.getElementById('overlay').style.display = 'block';
            });
            
        {{end}}
    
        function closePopup(type) {
            console.log('AAAAJIiejnjfgjern');
            return
            const difficulty = '{{.Difficulty}}';
            document.getElementById(type + 'Popup').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
            window.location.href = '/?difficulty=' + difficulty;
        } */
    </script>
</body>
</html>